<%= form_for @box, :class => "form-inline" do |f| %>
  <div class=", :class => "form-inline">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
    <%= f.label :image %>
    <%= f.text_field :image, :class => "form-control" %>

      <div class="btn-group btn-group-toggle" data-toggle="buttons">

      <%= f.label :in, "in"%>
      <%= f.radio_button :in, true %>

      
      <%= f.label :in, "out" %>
      <%= f.radio_button :in, false %>

      <%= f.label :empty %>
      <%= f.radio_button :empty, true %>
      <%= f.label :empty, "full" %>
      <%= f.radio_button :empty, false %>


    <%= f.label :location %>
    <%= f.text_field :location, :class => "form-control" %>

    <%= f.label :user_id %>
    <%= f.select :user_id, User.pluck(:email, :id), :include_blank => true %>

    <%= f.submit "Update", :class => "btn btn-primary btn-sm"    %>
  </div>



<% end %>
