<h1 class="display-4">Box<%= @box.title %></h1>

<%= image_tag @box.image, :alt => @box.title, :class => "rounded float-left" %>
    <table class ="table">
      <thead>
        <tr>
          <th scope="col">In</th>
          <th scope="col">Empty</th>
          <th scope="col">Location</th>
        </tr>
      </thead>

      <tbody>

        <td><%= @box.in %></td>
        <td><%= @box.empty %></td>
        <td><%= @box.location %></td>
      </tbody>
    </table>




    <div class="list-group-item list-group-item-action list-group-item-light">
    <%= link_to 'Edit Box', edit_box_path(@box), :class => "badge badge-pill badge-secondary" %>
    <%= link_to 'Delete Box', box_path(@box), :class => "badge badge-pill badge-secondary", :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
    </div>
